@import "tailwindcss";

.title {
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.paris {
  font-family: "Parisienne", cursive;
  font-weight: 400;
  font-style: normal;
}

.gradient {
  background: #DFE7EF;
  background: linear-gradient(180deg, #f5f6f700,rgba(9, 9, 9, 0.700) 60%);
}

.animated{
  opacity: 0;
}

.fade {
  animation: fadeInUp 1s ease both;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: translateY(0, 0, 0);
  }
}