---
import Layout from '../layouts/Layout.astro';
import Player from '../components/Player.tsx';
import Gifts from '../components/Gifts.tsx';
import Timer from '../components/Timer.tsx';
import Slider from '../components/Slider.tsx';
---

<Layout>
	<main class="relative w-full text-center overflow-x-hidden">

		<Player client:only="react"/>

		{/*Photo Slider*/} 
		<Slider/>

		{/*Welcome */}
		<section class="w-full py-10 border-b-1 border-rose-900/80 transition-all">
			<div class="flex flex-col items-center justify-center max-w-[1200px] m-auto">
				<div class="flex flex-col items-center justify-center w-full gap-6 py-[100px] px-[30px] md:p-10 animated">
					<lord-icon
					src="https://cdn.lordicon.com/aydxrkfl.json"
					trigger="loop"
					stroke="light"
					delay="500"
					colors="primary:#8b0836,secondary:#8b0836"
					style="width:70px;height:70px">
					</lord-icon>
					<h2 class="title text-[32px] mb-2">Bienvenidos!</h2>
					<p class="max-w-[550px]">
						Queremos que este día sea especial para ustedes como para nosotros, por eso te invitamos a que nos acompañes en este gran paso de nuestras vidas.
						<br/>
						<br/>
						Te esperamos con mucha alegría para celebrar juntos este momento tan importante.
						<br/>
						<br/>
						Gracias por tu presencia y esperamos que te lo pases en grande!
					</p>
				</div>
			</div>
		</section>

		{/*Invitacion */}
					</p>
				</div>
			</div>
		</section>

		{/*Calendar Countdown */}
		<section class="flex items-center justify-center w-full py-[150px] border-b-1 border-rose-900/80">
			<div class="flex flex-col items-center justify-center w-full animated">
				<lord-icon class="mb-6" src="https://cdn.lordicon.com/mzfjzfjs.json" trigger="loop" state="" stroke="light" delay="300" colors="primary:#8b0836,secondary:#8b0836" style="width:70px;height:70px"></lord-icon>
				<br/>
				<p class="font-bold tracking-[3px] text-[10px] mb-[5px]">
					AGENDA LA FECHA
				</p>
				<h2 class="title text-[32px] mb-6">25 de Julio</h2>

				<Timer client:only="react"/>

				<a href="https://calendar.app.google/U348TgEgohrXkMfY9" target="_blank" class="inline-block text-sm text-center text-rose-50 font-[600] bg-rose-900/80 py-[10px] px-[32px] rounded-[30px]">AGREGAR FECHA</a>
			</>
		</section>

		{/*Events*/}
		<secction class="flex flex-col md:flex-row items-center md:items-start justify-center gap-[100px] md:gap-6 py-[150px] border-b-1 border-rose-900/80">

			{/*Civil*/}
			<article class="md:w-[350px] w-full flex flex-col items-center justify-center gap-6 px-[30px] animated">
				<lord-icon src="https://cdn.lordicon.com/czmrowis.json" trigger="loop" state="" stroke="light" delay="300" colors="primary:#8b0836,secondary:#8b0836" style="width:70px;height:70px"></lord-icon>
				<h2 class="title text-4xl text-center font-[400]">Civil</h2>
				<div>
					<div class="flex items-center justify-center gap-5 px-5 pb-4 mb-4 border-b-1 border-rose-900/80">
						<div class="flex flex-col items-center justify-center gap-0">
							<p class="text-[26px]">25</p>
							<span class="txt-[12px]">Julio</span>
						</div>
						<div class="h-[70px] w-0 border-r-1 bg-rose-900/80"></div>
						<div class="flex flex-col items-center justify-center gap-0">
							<p class="text-[26px]">10:30</p>
							<span class="txt-[12px]">HORAS</span>
						</div>
					</div>
					<div class="px-[30px]">
						<b class="text-xl">Registro Civil de Villa Italia</b>
					</div>
				</div>
				<a href="https://www.google.com/maps/place/Registro+Civil+Villa+Italia/@-37.3070009,-59.1459762,576m/data=!3m2!1e3!4b1!4m6!3m5!1s0x9591202e6596b5fd:0xad01dd2e8f41a788!8m2!3d-37.3070052!4d-59.1434013!16s%2Fg%2F11bwh8z60f?authuser=0&entry=ttu&g_ep=EgoyMDI1MDQyMy4wIKXMDSoASAFQAw%3D%3D" target="_blank" class="inline-block text-sm text-center text-rose-50 font-[600] bg-rose-900/80 py-[10px] px-[32px] rounded-[30px]">CÓMO LLEGAR</a>
			</article>

			{/*Ceremony*/}
			<article class="md:w-[350px] w-full flex flex-col items-center justify-center gap-6 px-[30px] animated">
				<lord-icon src="https://cdn.lordicon.com/fshosubk.json" trigger="loop" state="" stroke="light" delay="300" colors="primary:#8b0836,secondary:#8b0836" style="width:70px;height:70px"></lord-icon>
				<h2 class="title text-4xl text-center font-[400]">Ceremonia</h2>
				<div>
					<div class="flex items-center justify-center gap-5 px-5 pb-4 mb-4 border-b-1 border-rose-900/80">
						<div class="flex flex-col items-center justify-center gap-0">
							<p class="text-[26px]">25</p>
							<span class="txt-[12px]">Julio</span>
						</div>
						<div class="h-[70px] w-0 border-r-1 bg-rose-900/80"></div>
						<div class="flex flex-col items-center justify-center gap-0">
							<p class="text-[26px]">12:30</p>
							<span class="txt-[12px]">HORAS</span>
						</div>
					</div>
					<div class="px-[30px] text-xl">
						<p>
							<b>La Casona del Cerro</b>
						</p>
						<p>Lendes 2505</p>
					</div>
				</div>
				<a href="https://www.google.com/maps/place/La+Casona+del+Cerro/@-37.3161826,-59.2017668,576m/data=!3m2!1e3!4b1!4m6!3m5!1s0x9591232dedb4dd4d:0xeaaf092b8c44b3cd!8m2!3d-37.3161869!4d-59.1991919!16s%2Fg%2F11rcjks37l?authuser=0&entry=ttu&g_ep=EgoyMDI1MDQyMy4wIKXMDSoASAFQAw%3D%3D" target="_blank" class="inline-block text-sm text-center text-rose-50 font-[600] bg-rose-900/80 py-[10px] px-[32px] rounded-[30px]">CÓMO LLEGAR</a>
			</article>

			{/*Party*/}
			<article class="md:w-[350px] w-full flex flex-col items-center justify-center gap-6 px-[30px] animated">
				<lord-icon src="https://cdn.lordicon.com/ohcuigqh.json" trigger="loop" state="" stroke="light" colors="primary:#8b0836,secondary:#8b0836" style="width:70px;height:70px"></lord-icon>
				<h2 class="title text-4xl text-center font-[400]">Festejo</h2>
				<div>
					<div class="flex items-center justify-center gap-5 px-5 pb-4 mb-4 border-b-1 border-rose-900/80">
						<div class="flex flex-col items-center justify-center gap-0">
							<p class="text-[26px]">25</p>
							<span class="txt-[12px]">Julio</span>
						</div>
						<div class="h-[70px] w-0 border-r-1 bg-rose-900/80"></div>
						<div class="flex flex-col items-center justify-center gap-0">
							<p class="text-[26px]">13:00</p>
							<span class="txt-[12px]">HORAS</span>
						</div>
					</div>
					<div class="px-[30px] text-xl">
						<p>
							<b>La Casona del Cerro</b>
						</p>
						<p>Lendes 2505</p>
					</div>
				</div>
				<a href="https://www.google.com/maps/place/La+Casona+del+Cerro/@-37.3161826,-59.2017668,576m/data=!3m2!1e3!4b1!4m6!3m5!1s0x9591232dedb4dd4d:0xeaaf092b8c44b3cd!8m2!3d-37.3161869!4d-59.1991919!16s%2Fg%2F11rcjks37l?authuser=0&entry=ttu&g_ep=EgoyMDI1MDQyMy4wIKXMDSoASAFQAw%3D%3D" target="_blank" class="inline-block text-sm text-center text-rose-50 font-[600] bg-rose-900/80 py-[10px] px-[32px] rounded-[30px]">CÓMO LLEGAR</a>
			</article>
			
			{/*Dress Code*/}
			<article class="md:w-[350px] w-full flex flex-col items-center justify-center gap-6 px-[30px] animated">
				<lord-icon src="https://cdn.lordicon.com/dkyhucjt.json" trigger="loop" state="" stroke="light" colors="primary:#8b0836,secondary:#8b0836" style="width:70px;height:70px"></lord-icon>
				<h2 class="title text-4xl text-center font-[400]">Dress Code</h2>
				<div>
					<p>
						<b>Elegante Sport</b>
					</p>
					<br/>
					<p>
						El blanco queda reservado para la novia.
					</p>
				</div>
			</article>

		</secction>

		{/*Gifts */}
		<section class="w-full py-[150px] bg-[url(/FONDO-ROSAS.png)] bg-cover bg-center">
			<div class="flex flex-col w-[calc(100%-60px)] md:w-[790px] items-center justify-center py-[60px] px-[30px] md:px-[100px] mx-auto gap-3 bg-rose-50/80 rounded-[6px] animated">
				<lord-icon class="icon" src="https://cdn.lordicon.com/kezeezyg.json" trigger="loop" state="" stroke="light" delay="300" colors="primary:#8b0836,secondary:#8b0836" style="width:70px;height:70px"></lord-icon>
				<h2 class="title text-[32px]">Regalos</h2>

				<p>
					Tu presencia es lo más importante para nosotros.
					<br/>
					Si además quieres hacernos un regalo, podes ayudarnos con una contribucion a voluntad.
				</p>

				<Gifts client:only="react"/>
			</div>
		</section>
		
		{/*Confirmation */}
		<section class="flex flex-col items-center justify-center py-[150px] bg-rose-900/80 text-rose-50">
			<div class="flex flex-col w-[790px] items-center justify-center animated">
				<lord-icon class="icon" src="https://cdn.lordicon.com/heqlbljj.json" trigger="loop" state="" stroke="light" delay="300" colors="primary:#fff1f2,secondary:#fff1f2" style="width:70px;height:70px"></lord-icon>
				<br/>
				<span class="font-[600] text-[10px] tracking-[3px] mb-[5px] ">RSVP</span>
				<h2 class="title text-[32px] mb-2">Confirmacion de Asistencia</h2>

				<p>
					Esperamos contar con tu presencia
				</p>

				<a href="https://forms.gle/dauJmHTF3cgSBQGK8" target="_blank" class="inline-block text-sm text-center text-rose-900 font-[600] bg-rose-50 py-[10px] px-[32px] mt-6 rounded-[30px]">MÁS INFORMACION</a>
			</div>
		</section>
		
		{/*Sotial*/}
		<secction class="flex flex-col md:flex-row items-center md:items-start justify-center gap-[100px] md:gap-6 py-[150px] border-b-1 border-rose-900/80">

			{/*Spotify*/}
			<article class="md:w-[350px] w-full flex flex-col items-center justify-center gap-6 px-[30px] md:px-0 animated">
				<lord-icon src="https://cdn.lordicon.com/xsiktwiz.json" trigger="loop" state="" stroke="light" delay="300" colors="primary:#8b0836,secondary:#8b0836" style="width:70px;height:70px"></lord-icon>
				<h2 class="title text-4xl text-center font-[400]">Nuestra Playlist</h2>
				<p>
					Agrega nuestra playlist y recomendá las canciones que no pueden faltar en nuestra boda
				</p>
				<a href="https://open.spotify.com/playlist/6KJURB55IHb0o9vaDq6tOV?si=4a9c2298b6f34649&pt=6d442158c8ebd82687a689ced96590d8" target="_blank" class="inline-block text-sm text-center text-rose-50 font-[600] bg-rose-900/80 py-[10px] px-[32px] rounded-[30px]">IR A SPOTIFY</a>
			</article>

			{/*Instagram*/}
			<article class="md:w-[350px] w-full flex flex-col items-center justify-center gap-6 animated">
				<lord-icon src="https://cdn.lordicon.com/tgyvxauj.json" trigger="loop" state="" stroke="light" delay="300" colors="primary:#8b0836,secondary:#8b0836" style="width:70px;height:70px"></lord-icon>
				<h2 class="title text-4xl text-center font-[400]">#NosCasamos</h2>
				<div>
					<p>
						Sumate a la boda compartiendo fotos y videos con nuestro hashtag.
					</p>
				</div>
				<a href="#" target="_blank" class="inline-block text-sm text-center text-rose-50 font-[600] bg-rose-900/80 py-[10px] px-[32px] rounded-[30px]">IR A INSTAGRAM</a>
			</article>

		</secction>

		<section class="h-screen md:h-[75vh] text-rose-50">
			<div class="h-full max-w-full flex items-center justify-center gap-6">
				<div class="relative w-full h-full flex flex-col items-center justify-end gap-6 p-10 bg-[url('/ph1.jpg')] md:bg-[url('/ph.jpg')] bg-cover bg-center md:bg-right">
					<h2 class="z-10 paris text-3xl md:text-5xl pb-5">Si me das la mitad de tu vida, te dare la mitad de la mia</h2>
					<div class="absolute gradient z-1 top-0 w-full h-full"/>
				</div>
			</div>
		</section>

		<a href="https://api.whatsapp.com/send/?phone=2494207076" target="_blank" class="fixed z-999 bottom-[30px] right-[30px] rounded-full bg-rose-900/80 w-[50px] h-[50px] p-2 grid place-items-center shadow-md shadow-rose-900/80">
			<lord-icon
    			src="https://cdn.lordicon.com/dnphlhar.json"
    			trigger="loop" state="" stroke="Regular" delay="300" colors="primary:#fff1f2,secondary:#fff1f2" style="width:32px;height:32px">
			</lord-icon>
		</a>
	</main>
</Layout>
